@use "sass:color";

@use "../vars/vars";
@use "../vars/vars-night";

/* Chrome, Safari, Edge (WebKit/Blink) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	text-align: center;
	position: relative;
	z-index: 2;
}

/* Firefox */
input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
	text-align: center;
	position: relative;
	z-index: 2;
}

@layer vetools {

	.sheet__ {
		&page {
			max-width: 2560px;
			margin: auto;
			padding: 20px;
		}

		&box {
			border: 2px solid;
			padding: 6px;
			border-radius: 4px;
			font-size: 18px;
			background-color: #1c1c1c;
			border-color:#d29a38;

			&-stat {
				border: 2px solid;
				padding: 6px;
				border-radius: 4px;
				font-size: 16px;
				text-align: center;
				align-items: center;
				background-color: #1c1d1c;
				border-color: #1e90ff;
			}

			&-collapsible {
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
				display: none;
				overflow: hidden;
			}

			&-btn {
				padding: 4px;
				margin-top: 4px;
			}

			&-btn:hover {
				color:#fff;
			}

			&-abl {
				border-bottom: 1px solid;
				display:flex;
				flex-direction:row;
				justify-content: space-between;
				align-items: center;
				padding: 2px;
				border-color:#555;
				height:32px;
			}

			&-abl span:last-child {
				margin-left: auto;
			}
		}

		&dependant {
			border: 1px solid #555;
			background: #222;
			padding: 6px;
			border-radius: 4px;
			color: #ccc;

			&-stat {
				border: 1px solid #555;
				background: #222;
				padding: 6px;
				border-radius: 4px;
				color: #ccc;
				margin-bottom: -4px;
				align-self:center;
			}

			&-abl {
				border: 1px solid #555;
				background: #222;
				padding: 2px;
				border-radius: 8px;
				color: #ccc;
			}
		}

		&input {
			&-stat {
				border-radius:40%;
			}
		}
	}
}